PORT = 3000
NODE_ENV=development

DB_HOST = localhost
DB_PORT = 5432
DB_NAME = postgres
DB_USER = postgres
DB_PASSWORD = password

MEMORY_USAGE_TIMEOUT=60000

JWT_SECRET = Q3Z3VHN5aElVdnZGb...Vja0pBTExrYVc3Uk5K
JWT_EXPIRES_IN = 1d